.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header h1 {
  font-size: 2rem; /* Reduced font size */
  margin: 0;
}

.table-container {
  padding: 20px;
}
